<div class="row">
    <div class="col-lg-12">
        <nb-card>
            <nb-card-header *ngIf="creationMode">
                CREAR VOTO
            </nb-card-header>
            <nb-card-header *ngIg="!creationMode">
                ACTUALIZAR VOTO
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                <div class="col-lg-3">
                    <label>Mesa</label>
                </div>
                <div class="col-lg-9">
                    <select class="form-control" [(ngModel)]="vote.table._id">
                        <option *ngFor="let table of tables" [value]="table._id">{{table.table_number}} {{table.number_personal_ids}}</option>
                    </select>
                    <p *ngIf="sendingAttemp && vote.table._id==''">Requerido</p>        
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <label>Candidato</label>
                </div>
                <div class="col-lg-9">
                    <select class="form-control" [(ngModel)]="vote.candidate._id">
                        <option *ngFor="let candidate of candidates" [value]="candidate._id">{{candidate.name}}</option>
                    </select>
                    <p *ngIf="sendingAttemp && vote.candidate._id==''">Requerido</p>        
                </div>
            </div>
           
            <br />
            <div class="row">
                <button *ngIf="creationMode" class="btn btn-primary btn-block" (click)="create()">
                    Crear
                </button>
                <butoon *ngIf="!creationMode" class="btn btn-primary btn-block" (click)="edit()"> 
                    Actualizar
                </butoon>
            </div>
            
            </nb-card-body>
        </nb-card>
    </div>
</div>